{% extends 'base/index_base.html' %}

{% block style %}
<style>
    * {
        margin: 0;
        padding: 0;
    }
    .pusher .segment{
        height: 57px;
        border-radius: 0;
    }

    #users {
        left: 1125px;
        height: auto;
    }

    #dropdown {
        height: 80px;
    }

    #table-buttons {
        margin: 25px 20px;
    }

    .ui.button {
        padding: 10px 15px;
        margin-right: 10px;
    }

    #status {
        height: 75px;
    }

    .labels {
        margin-top: 10px;
    }

    .ui.input {
        width: 270px;
    }
</style>
{% endblock %}

{% block content %}
<div class="pusher">
    <div class="ui segment">
        <div class="ui breadcrumb">
            <a class="section">首页</a>
            <div class="divider">/</div>
            <a class="section">角色管理</a>
        </div>
        <div class="ui top pointing dropdown" style="left: 1025px;">
            <div class="text">{{current_user.itcode}}</div>
            <i class="dropdown icon"></i>
            <div class="menu" id="dropdown">
                <a class="item" href="management/profile.html">个人中心</a>
                <a class="item" href="{{ url_for('users.logout') }}">退出登录</a>
            </div>
        </div>
    </div>

    <div class="ui grid">
        <div class="four wide column" style="margin-left: 20px;">
            <label><b>角色名称</b></label>&nbsp;&nbsp;
            <div class="ui input">
                <input type="text" placeholder="请输入角色名称">
            </div>
        </div>
        <div class="four wide column">
            <label><b>权限字符</b></label>&nbsp;&nbsp;
            <div class="ui input">
                <input type="text" placeholder="请输入权限字符">
            </div>

        </div>
        <div class="one wide column" style="margin-top:8px">
            <label><b>角色状态</b></label>
        </div>
        <div class="four wide column" style="margin-left: -30px">
            <div class="ui selection dropdown" style="width:280px;">
                <input type="hidden" name="用户状态">
                <i class="dropdown icon"></i>
                <div class="default text">用户状态</div>
                <div class="menu" id="status">
                    <div class="item" data-value="0">正常</div>
                    <div class="item" data-value="1">停用</div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui grid">
        <div class="one wide column" style="margin-left: 20px;">
            <div class="labels">
                <label><b>开始日期</b></label>
            </div>
        </div>

        <div class="four wide column" style="margin-left: -30px;">
            <div class="ui calendar" id="rangestart">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="开始日期">
                </div>
            </div>
        </div>
        <div class="one wide column" style="margin-left:-65px;">
            <div class="labels">
                <label><b>结束日期</b></label>
            </div>
        </div>
        <div class="four wide column" style="margin-left:-30px;">
            <div class="ui calendar" id="rangeend">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="结束日期">
                </div>
            </div>
        </div>
        <div class="five wide column" style="margin-left: -65px;">
            <div class="ui primary button">
                <i class="search icon"></i>
                搜索
            </div>
            <div class="ui clear button">
                <i class="icon sync alternate"></i>
                重置
            </div>
        </div>
    </div>

    <div class="ui grid" id="table-buttons">
        <div class="small ui primary basic button added">
            <i class="icon add"></i>
            新增
        </div>
    </div>

    <div class="ui grid">
        <div class="twelve wide column" style="margin-left:20px;margin-top: -30px;">
            <table class="ui selectable celled center aligned very compact single line table">
                <thead>
                    <th>用户编号</th>
                    <th>角色名称</th>
                    <th>权限字符</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>超级管理员</td>
                        <td>admin</td>
                        <td>
                            <div class="ui toggle checkbox">
                                <input type="checkbox" name="状态" checked="checked">
                                <label></label>
                            </div>
                        </td>
                        <td>2021-08-25</td>
                        <td>
                            <div class="mini ui primary basic button edit">
                                <i class="icon edit"></i>
                                修改
                            </div>
                            <div class="mini ui teal basic button authority">
                                <i class="icon check circle outline"></i>
                                数据权限
                            </div>
                            <div class="mini ui negative basic button delete">
                                <i class="icon trash alternate"></i>
                                删除
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>普通用户</td>
                        <td>common</td>
                        <td>
                            <div class="ui toggle checkbox">
                                <input type="checkbox" name="状态" checked="checked">
                                <label></label>
                            </div>
                        </td>
                        <td>2021-08-25</td>
                        <td>
                            <div class="mini ui primary basic button edit">
                                <i class="icon edit"></i>
                                修改
                            </div>
                            <div class="mini ui teal basic button authority">
                                <i class="icon check circle outline"></i>
                                数据权限
                            </div>
                            <div class="mini ui negative basic button delete">
                                <i class="icon trash alternate"></i>
                                删除
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 编辑按钮弹窗 -->
    <div class="ui tiny modal edit">
        <div class="header">修改用户</div>
        <div class="content">
            <div class="ui form">
                <div class="fields">
                    <div class="labels">
                        <label><b>用户姓名</b></label>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="用户姓名">
                    </div>
                    <div class="labels">
                        <label><b>归属部门</b></label>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="归属部门">
                    </div>
                </div>
                <div class="fields">
                    <div class="labels">
                        <label><b>手机号码</b></label>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="手机号码">
                    </div>
                    <div class="labels">
                        <label><b>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</b></label>
                    </div>
                    <div class="field">
                        <input type="email" placeholder="邮箱">
                    </div>
                </div>
                <div class="fields">
                    <div class="labels">
                        <label><b>用户性别</b></label>
                    </div>
                    <div class="field" style="width:200px">
                        <div class="ui selection dropdown">
                            <input type="hidden" name="性别">
                            <i class="dropdown icon"></i>
                            <div class="default text">性别</div>
                            <div class="menu">
                                <div class="item">男</div>
                                <div class="item">女</div>
                                <div class="item">未知</div>
                            </div>
                        </div>
                    </div>
                    <div class="labels">
                        <label><b>用户状态</b></label>
                    </div>
                    <div class="field" style="margin-top: -20px;">
                        <div class="ui radio blue checkbox" id="checkbox">
                            <input type="radio" name="radio" checked="checked">
                            <label>正常</label>
                        </div>
                        <div class="ui radio blue checkbox" id="checkbox">
                            <input type="radio" name="radio">
                            <label>停用</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui primary ok button">确定</div>
            <div class="ui basic cancel button">取消</div>
        </div>
    </div>

    <!-- 权限按钮弹窗 -->
    <div class="ui tiny modal authority">
        <div class="header">分配数据权限</div>
        <div class="content">
            <div class="ui form">
                <div class="field">
                    <div class="labels">
                        <label><b>角色名称</b></label>
                    </div>
                    <input type="text" placeholder="{{后台获取用户权限}}">
                </div>
                <div class="field">
                    <div class="labels">
                        <label><b>权限字符</b></label>
                    </div>
                    <input type="text" placeholder="{{后台获取用户权限字符}}">
                </div>
                <div class="field">
                    <div class="labels">
                        <label><b>权限范围</b></label>
                    </div>
                    <div class="ui search selection dropdown">
                        <input type="hidden" name="权限">
                        <i class="dropdown icon"></i>
                        <div class="default text">选择权限范围</div>
                        <div class="menu">
                            <div class="item">全部数据权限</div>
                            <div class="item">本部门数据权限</div>
                            <div class="item">仅本人数据权限</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui primary ok button">
                确定
            </div>
            <div class="ui basic cancel button">
                取消
            </div>
        </div>
    </div>

    <!-- 删除按钮弹窗 -->
    <div class="ui tiny modal delete">
        <div class="header">警告</div>
        <div class="content">
            <div class="field">
                <i class="icon exclamation circle"></i>
                是否确认删除用户编号为{{"获取用户编号"}}的数据项?
            </div>

        </div>
        <div class="actions">
            <div class="ui primary ok button">
                确定
            </div>
            <div class="ui basic cancel button">
                取消
            </div>
        </div>
    </div>

    <!-- 新增用户弹窗 -->
    <div class="ui longer modal added">
        <div class="header">添加用户</div>
        <div class="content">
            <div class="ui form">
                <div class="fields">
                    <div class="labels">
                        <label><b>用户姓名</b></label>
                    </div>
                    <div class="field" style="width:300px;">
                        <input type="text" placeholder="请输入用户名">
                    </div>
                    <div class="labels">
                        <label><b>归属部门</b></label>
                    </div>
                    <div class="field">
                        <div class="ui selection dropdown department" style="width: 300px">
                            <input type="hidden" name="请选择所属部门">
                            <i class="dropdown icon"></i>
                            <div class="default text">请选择所属部门</div>
                            <div class="menu">
                                <div class="ui left pointing dropdown item">
                                    <i class="dropdown icon"></i>
                                    宁畅集团
                                    <div class="menu">
                                        <div class="item">
                                            <i class="right dropdown icon"></i>
                                            <span class="text">北京总公司</span>
                                            <div class="menu">
                                                <div class="item">测试部门</div>
                                                <div class="item">研发部门</div>
                                                <div class="item">财务部门</div>
                                                <div class="item">人力部门</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="item">
                                    深圳总公司
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <div class="item">测试部门</div>
                                        <div class="item">研发部门</div>
                                        <div class="item">财务部门</div>
                                        <div class="item">人力部门</div>
                                    </div>
                                </div> -->
                                <!-- <div class="item">
                                    <i class="dropdown icon"></i>
                                    <span class="text">北京总公司</span>
                                    <div class="menu">
                                        <div class="item">测试部门</div>
                                        <div class="item">研发部门</div>
                                        <div class="item">财务部门</div>
                                        <div class="item">人力部门</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="dropdown icon"></i>
                                    <span class="text">深圳总公司</span>
                                    <div class="menu">
                                        <div class="item">测试部门</div>
                                        <div class="item">研发部门</div>
                                        <div class="item">财务部门</div>
                                        <div class="item">人力部门</div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function () {
        $('.visible .ui.sidebar')
            .sidebar({
                context: '.visible .bottom.segment'
            }).sidebar('hide');
        $('.ui.dropdown')
            .dropdown();
        $('.ui.dropdown.department')
            .dropdown({
                clearable: true
            });
        $('.ui.modal.edit')
            .modal('attach events', '.ui.edit.button', 'show');
        $('.ui.modal.authority')
            .modal('attach events', '.ui.authority.button', 'show');
        $('.ui.modal.delete')
            .modal('attach events', '.ui.delete.button', 'show');
        $('.ui.modal.added')
            .modal('attach events', '.ui.added.button', 'show');
        $('#rangestart').calendar({
            type: 'date',
            endCalendar: $('#rangeend')
        });
        $('#rangeend').calendar({
            type: 'date',
            startCalendar: $('#rangestart')
        });
    });
</script>
{% endblock %}